table.plans {
    td, th {
        border: 0;
        padding: 1.5rem;
        width: 28%;
    }

    th:first-child {
        width: 14%;
    }
}

.current-plan {
    background: $light-blue !important;
}

.card.invoices {
    border-top: 0;
}

