.card {
    border-radius: 0;
    box-shadow: $box-shadow;

    .card-header,
    .card-body,
    .card-footer {
        background: #fff;
    }

    .card {
        box-shadow: none;
    }

    .card-header {
        text-transform: uppercase;
        padding: .75rem 1.25rem 0.5rem;
    }
}

.btn {
    border-radius: 3px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
    font-family: 'Vollkorn';
    padding: 0.7rem 1rem 0.5rem;
    text-transform: uppercase;
    vertical-align: baseline;
}

.btn-success {
    background-color: $blue;
    border: 0;

    &.disabled,
    &:disabled,
    &:hover,
    &:focus,
    &.focus,
    &:active {
        background-color: $blue;
    }
}

.btn:hover,
.btn:focus,
.btn.focus,
.btn:active {
    outline: 0;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: 1px;
    text-decoration: none;
}

.alert {
    border: 0;

    .close {
        position: absolute;
        right: 15px;
        top: 15px;

    }
}

.alert-dark {
    background: #333;
    color: #fff;

    a {
        color: #fff;
        border-bottom: 2px solid rgba(255, 255, 255, 1);
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid rgba(255, 255, 255, 0.7);
        }
    }
}

.badge {
    color: #fff;
}

.badge-warning {
    background-color: #f0b400;
}

input,
textarea {
    max-width: 400px;
}

table {
    &.table-striped {
        tbody {
            tr {
                &:nth-of-type(odd) {
                    background: #fafafa;
                }

                &:nth-of-type(even) {
                    background: #fff;
                }

                &:hover {
                    background: #f0f0f0;
                }
            }
        }
    }
}

// @media (max-width: 991px) {
//     .navbar {
//         .nav-link {
//             padding-top: 1rem;
//             padding-bottom: 1rem;
//         }
//     }
// }

