.colorscheme--green {
    background-color: $green;
    color: $black;
}

.colorscheme--blue {
    background-color: rgb(197, 219, 242);
    color: $black;
}

.colorscheme--yellow {
    background-color: rgb(255, 224, 27);
    color: $black;
}