.dashboard {
    .explanations {
        display: flex;

        .badge {
            margin-right: 0.5rem;

            &.inactive {
                opacity: 0.5;
            }
        }
    }

    .filters {
        .btn {
            .fa,
            .fas {
                width: 16px;
            }
        }
    }
}

.site-header {
    white-space: nowrap;

    a {
        color: #333;
    }
}

/* Table */

.dashboard-table {
    .table-scroll {
        box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
        overflow-x: scroll;
        position: relative;

        table {
            margin-bottom: 0;

            tr {
                // position: relative;
            }

            td.plugin-header {
                white-space: nowrap;
            }
        }
    }

    table {
        th, td {
            font-weight: normal;

            &:first-child {
                width: 400px;
            }
        }
    }
}

.report-plugin-form {
    button {
        background: none;
        border: 0;

        i {
            cursor: pointer;
        }
    }
}

.plugin-status-badge {
    &.inactive {
        opacity: 0.5;
    }
}
