html,
body {
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*="header-"] {
    font-family: 'Vollkorn';
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-transform: uppercase;
}

.header-1 {
    font-size: 2.5rem;
}
.header-2 {
    font-size: 2rem;
}
.header-3 {
    font-size: 1.75rem;
}

.header-bold {
    font-weight: 700;
}

img {
    width: 100%;
}

a {
    color: $blue;

    &:hover {
        color: $dark-blue;
    }
}

.main-alert {
    border-radius: 0;
    margin: 0;
    text-align: center;
}

.page-wrapper {
    flex: 1;
}

footer {
    background: #302a26;
    color: #fff;

    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

.tooltip-inner {
    display: block;
    max-width: 500px;
    padding-bottom: 0.5rem;
    white-space: nowrap;
}

ul, ol {
    padding-left: 20px;
}

select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}