.legible {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    [class*="header-"] {
        margin: 2rem 0 1rem;
    }

    h1 {
        margin-top: 0;
    }

    img {
        border: 10px solid rgba(0, 0, 0, 0.05);
        margin: 1rem 0;
    }
}