// Style for unstyled nav
.navbar {
    background: #fff;
    box-shadow: $box-shadow;
    display: flex;

    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }

    a,
    .navbar-toggler {
        color: #333;
    }

    .navbar-toggler {
        cursor: pointer;

        &::before {
            content: "\f00d"; // fa-times
        }

        &.collapsed {
            &::before {
                content: "\f0c9"; // fa-bars
            }
        }
    }

    .nav-link {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;

        &:hover {
            opacity: 0.7;
        }
    }

    .navbar-brand {
        margin-top: 4px;
        text-transform: uppercase;
    }
}

.main-nav {
    .dropdown {
        font-size: 32px;

        .nav-link {
            // padding-top: 1rem;
            // padding-bottom: 1rem;

            &::after {
                display: none;
            }
        }
    }
}