@media (max-width: 991px) {
    h1,
    .header-1 {
        font-size: 2rem;
    }
    h2,
    .header-2 {
        font-size: 1.75rem;
    }
    h3,
    .header-3 {
        font-size: 1.5rem;
    }

    :root.no-scroll {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .navbar {
        .navbar-collapse {
            background: #fff;
            bottom: 0;
            left: 0;
            // margin-top: 5rem;
            min-height: 100vh;
            position: fixed;
            right: 0;
            top: 54px;
            z-index: 1;
        }

        .navbar-nav {
            margin-right: auto;
            width: 100%;
        }

        .nav-link,
        .dropdown-item {
            padding-left: 0 !important;
            padding-right: 0 !important;

            // Remove icons
            i {
                display: none;
            }
        }
    }

    .hero {
        .hero__content {
            width: 100%;
        }
        .hero__image {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    #navbar > .container {
        padding-left: 30px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}


