.hero {
    // background-color: #eec53f;
    background-position: bottom;
    background-size: cover;
    font-size: 1.2rem;
    position: relative;

    img {
      height: 300px;
      width: 300px;
    }
  }