.link-button {
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
    color: #333;
    display: inline-block;
    font-family: 'Vollkorn';
    font-size: 1rem;
    padding: 0.7rem 1rem 0.5rem;
    text-transform: uppercase;

    &:hover {
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
        position: relative;
        top: 1px;
        text-decoration: none;
    }
}