table.logs {
  width: 100%;

  tr {
    background: #111;
    font-family: monospace;
    width: 100%;
  }

  td {
    padding: 0.3rem 1rem;
  }

  .log__date {
    color: #999;
    width: 220px;
  }

  .log__referer {
    color: #fff;
  }

  .log__status {
    color: #00ff00;
    width: 70px;
  }

  .log__log {
    color: #fff;
  }
}